<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Change Page Heading to Lending Hat :: Coming Soon</title>
</head>
<body>
    <header class="soon-header">
        <div class="container">
            <div class="flex-box space-between flex-center">
                <div class="logo-box">
                    <a href="/">
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>
                <ul class="social-list flex-box">
                    <li>
                        <a href="https://www.instagram.com/lendinghat/ "><img src="/img/Instagram.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="/img/Linkedin.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="soon-banner">
        <div class="container">
            <div class="flex-box flex-center">
                <div class="col-45 text-box">
                    <h1>Small<br>
                        Business Lending <span class="highlight">Reimagined</span></h1>
                    <ul class="flex-box">
                        <li>
                            <img src="/img/icon-1.png" alt="">
                            <span>Easy<br> Application</span>
                        </li>
                        <li>
                            <img src="/img/icon-2.png" alt="">
                            <span>Dedicated<br>
                                Loan Specialist</span>
                        </li>
                        <li>
                            <img src="/img/icon-3.png" alt="">
                            <span>You Data<br>
                                Is Never Sold</span>
                        </li>
                    </ul>
                </div>
                <div class="img-box mobile-img">
                    <img src="/img/mock-mobile.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="stay-section">
        <div class="container">
            <div class="flex-box space-between flex-center">
                <div class="text-box col-4">
                    <h4>
                        <span class="highlight">Stay tuned</span>
                        For access to our new<br> one-stop platform 
                    </h4>
                </div>
                <div class="col-45">
                    <ul class="flex-box space-between">
                        <li>
                            <span class="highlight" id="days"></span>
                            <h6>Days</h6>
                        </li>
                        <li>
                            <span class="highlight" id="hours"></span>
                            <h6>Hours</h6>
                        </li>
                        <li>
                            <span class="highlight" id="minutes"></span>
                            <h6>Minutes</h6>
                        </li>
                        <li>
                            <span class="highlight" id="seconds"></span>
                            <h6>Second</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="how-lending-section com-padding soon-how-section">
        <div class="container">
            <div class="heading-box">
                <h2 class="ctn"><span class="highlight">How</span> Lending Hat Works</h2>
            </div>
            <div class="flex-box how-lending-box">
                <div class="col-55">
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 01</h6>
                        <h4>Submit simple application.</h4>
                        <p>Our application is so easy. We just need basic information about your business that you readily know. Your information is never sold so you won’t be bothered by countless salespeople.</p>
                    </div>
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 02</h6>
                        <h4>You get a dedicated <span></span> funding specialist.</h4>
                        <p>You’ll have a dedicated funding specialist who is like your
                            own personal assistant.  They will source
                            the best loan and terms so you can stay focused on your business.
                            </p>
                    </div>
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 03</h6>
                        <h4>Review loan offers.</h4>
                        <p>You will be presented with multiple offers as lenders
                            compete for your business. Review your offers with your funding specialist and choose what works best for you.</p>
                    </div>
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 04</h6>
                        <h4>Start using your<span></span> funds today.</h4>
                        <p>We are all about speed. We work with lenders so you can
                            access the funds you need in hours not days.</p>
                    </div>
                </div>
                <div class="col-45 img-box img-2">
                    <img src="/img/phone-img-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
   <div class="usp-section">
    <div class="container">
        <div class="heading-box ctn">
            <h2>
                <span class="highlight">Lending</span>
                Hat USPs
            </h2>
            <p>Everyone’s financial life is different. That’s why we offer flexible choices, simple<br> solutions and friendly support to help you keep moving forward, one step at a time.</p>
        </div>
        <ul class="flex-box up-list">
            <li>
                <h5>$2B+</h5>
                <p>Funded</p>
            </li>
            <li>
                <h5>75+</h5>
                <p>Lender Network</p>
            </li>
            <li>
                <h5>60k+</h5>
                <p>Loans Funded</p>
            </li>
        </ul>
    </div>
    <div class="warpper">
        <div class="usp-main-box">
            <ul class="usp-list flex-box">
                <li>
                    <div class="usp-box">
                        <img src="/img/usp-icon-1.png" alt="">
                        <h3>Approved & Legally Certified </h3>
                        <p>We perform a credit check during your application</p>
                    </div>
                </li>
                <li>
                    <div class="usp-box">
                        <img src="/img/usp-icon-2.png" alt="">
                        <h3>Growing Community Of Investors </h3>
                        <p>Display the results for you to check, saving you time.</p>
                    </div>
                </li>
                <li>
                    <div class="usp-box">
                        <img src="/img/usp-icon-3.png" alt="">
                        <h3>560+ Loans Approved & Credited</h3>
                        <p>Application and display the results for you to check..</p>
                    </div>
                </li>
                <li>
                    <div class="usp-box">
                        <img src="/img/usp-icon-4.png" alt="">
                        <h3>Efficient & Fast Loan Solutions</h3>
                        <p>During your application and display the results.</p>
                    </div>
                </li>
                <li>
                    <div class="usp-box">
                        <img src="/img/usp-icon-5.png" alt="">
                        <h3>Faster Turn Around On Requests</h3>
                        <p>A credit check during your application and display.</p>
                    </div>
                </li>
                <li class="blue-box">
                    <div class="usp-box">
                        <img src="/img/usp-icon-6.png" alt="">
                        <h3><strong>get your loan </strong>approved faster</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   </div>
   <div class="bt ctn">
    <span>Copyright 2022-23 Lending Hat  |  All Rights Reserved</span>
   </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.js"></script>
<script>
     if ($(window).width() <= 800) {
            $('ul.usp-list').slick({
                dots: false,
                arrows: false,
                slidesToShow: 1,
                centerMode: true,
                centerPadding: '30px',
            });
        }
</script>
<script>
    (function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  //I'm adding this section so I don't have to keep updating this pen every year :-)
  //remove this if you don't need it
  let today = new Date(),
      dd = String(today.getDate()).padStart(2, "0"),
      mm = String(today.getMonth() + 1).padStart(2, "0"),
      yyyy = today.getFullYear(),
      nextYear = yyyy + 1,
      dayMonth = "02/12/",
      birthday = dayMonth + yyyy;
  
  today = mm + "/" + dd + "/" + yyyy;
  if (today > birthday) {
    birthday = dayMonth + nextYear;
  }
  //end
  
  const countDown = new Date(birthday).getTime(),
      x = setInterval(function() {    

        const now = new Date().getTime(),
              distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          document.getElementById("headline").innerText = "Now we are Live";
          document.getElementById("countdown").style.display = "none";
          document.getElementById("content").style.display = "block";
          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
</script>
</body>
</html>