<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5WMHPDG');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <title>Business Loans >> Apply Now >> Receive Funding Fast</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WMHPDG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="container">
            <div class="logo-box">
                <a href="/">
                    <img src="/img/logo.png" alt="">
                </a>
            </div>
        </div>
    </header>
    <div class="banner-section" id="banner-form">
        <div class="warpper">
            <div class="flex-box space-between">
                <div class="col-55 ">
                    <div class="heading-box">
                        <h1>Small Business<br>
                            Lending Reimagined</h1>
                        <p>Applying is free and won’t impact your credit. See if you are eligible</p>
                    </div>
                    <ul class="flex-box up-list">
                        <li>
                            <h5>$2B+</h5>
                            <p>Funded</p>
                        </li>
                        <li>
                            <h5>75+</h5>
                            <p>Lender Network</p>
                        </li>
                        <li>
                            <h5>60k+</h5>
                            <p>Loans Funded</p>
                        </li>
                    </ul>
                </div>
                <div class="col-4 form-box">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "23209148",
                            formId: "d9f10dc5-1e0a-4b15-a621-c5e149d9c41c"
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="blue-application">
        <div class="container">
            <ul class="flex-box up-list">
                <li>
                    <h5>$2B+</h5>
                    <p>Funded</p>
                </li>
                <li>
                    <h5>75+</h5>
                    <p>Lender Network</p>
                </li>
                <li>
                    <h5>60k+</h5>
                    <p>Loans Funded</p>
                </li>
            </ul>
            <ul class="blue-arrow-list flex-box">
                <li>
                    <img src="/img/blue-icon-1.png" alt="">
                    <h6>Easy Application</h6>
                    <p>No digging for hard to find information. Easy application completed in minutes with information that you already have.</p>
                </li>
                <li>
                    <img src="/img/blue-icon-2.png" alt="">
                    <h6>Dedicated Loan Specialist</h6>
                    <p>We shop our extensive network of lenders to get the best terms so you don’t waste time with individual lenders. </p>
                </li>
                <li>
                    <img src="/img/blue-icon-3.png" alt="">
                    <h6>You Data is Never Sold</h6>
                    <p>Don't be bothered by random sales people because you filled out a form. We don’t sell you data and you will only hear from us.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="how-lending-section com-padding">
        <div class="container">
            <div class="heading-box">
                <h2 class="ctn"><span>How</span> Lending Hat Works</h2>
            </div>
            <div class="flex-box how-lending-box">
                <div class="col-55">
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 01</h6>
                        <h4>Submit simple application.</h4>
                        <p>Our application is so easy. We just need basic information about your business that you readily know. Your information is never sold so you won’t be bothered by countless salespeople.</p>
                    </div>
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 02</h6>
                        <h4>You get a dedicated <span></span> funding specialist.</h4>
                        <p>You’ll have a dedicated funding specialist who is like your
                            own personal assistant.  They will source
                            the best loan and terms so you can stay focused on your business.
                            </p>
                    </div>
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 03</h6>
                        <h4>Review loan offers.</h4>
                        <p>You will be presented with multiple offers as lenders
                            compete for your business. Review your offers with your funding specialist and choose what works best for you.</p>
                    </div>
                    <div class="step-box">
                        <div class="fan-img">
                            <span class="icon-bg"></span>
                        </div>
                        <h6 class="step">Step 04</h6>
                        <h4>Start using your<span></span> funds today.</h4>
                        <p>We are all about speed. We work with lenders so you can
                            access the funds you need in hours not days.</p>
                    </div>
                    <a href="javascript:;" class="new-btn up-slide">Get Started</a>
                </div>
                <div class="col-45 img-box">
                    <img src="/img/phone-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="our-service-section">
        <div class="our-service-silder owl-carousel">
            <div class="item">
                <div class="img-box">
                    <img src="/img/service-img.png" alt="" loading="lazy" class="dk-img">
                    <img src="/img/service-img-mobile.png" alt="" class="mobile-img">
                </div>
                <div class="text-box">
                    <h2>Meet Lending Hat Customers</h2>
                    <h3>Trucking</h3>
                    <p>“ I manage a fleet and need working capital for my expansion. Landing Hat was able to secure the
                        funds and terms I needed “</p>
                        <div class="btn-box">
                            <a href="javascript:;" class="new-btn up-slide">Get Started</a>
                        </div>
                </div>
                
            </div>
            <div class="item">
                <div class="img-box">
                    <img src="/img/service-img-2.png" alt="" loading="lazy">
                </div>
                <div class="text-box">
                    <h2>Meet Lending Hat Customers</h2>
                    <h3>Retail</h3>
                    <p>With the new season around the corner I need a loan to cover my inventory expenses. Lending Hat processed a fast approval and I had the funds in hours.</p>
                        <div class="btn-box">
                            <a href="javascript:;" class="new-btn up-slide">Get Started</a>
                        </div>
                </div>
                
            </div>
            <div class="item">
                <div class="img-box">
                    <img src="/img/service-img-3.png" alt="" loading="lazy">
                </div>
                <div class="text-box">
                    <h2>Meet Lending Hat Customers</h2>
                    <h3>Construction</h3>
                    <p>Sometimes I need a bridge for payroll. I was able to quickly get the funds I needed from Lending Hat with a simple 10 minute application</p>
                    <div class="btn-box">
                        <a href="" class="new-btn up-slide">Get Started</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
        <a href="javascript:;" class="new-btn up-slide full-btn">Get Started</a>
    <div class="black-bar-section"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>
    <script>
        $('.our-service-silder').owlCarousel({
            loop: true,
            nav: true,
            items: 1,
            autoplay : true,
            autoplayTimeout : 7000,
        })
    </script>
    <script>
         if ($(window).width() <= 768) {
         $(window).scroll(function() {
                var scroll = $(window).scrollTop();
                if (scroll >= $('.blue-application').offset().top - 10) { // check the offset top
                    $(".full-btn").addClass('active');
                }
                else{
                    $(".full-btn").removeClass('active');
                }


            });
        }
    </script>

    <script>
        // var btn = $('.up-slide');

        //     btn.on('click', function (e) {
        //         e.preventDefault();
        //         $('html, body').animate({ scrollTop: 0 }, '300');
        //     });

            $(".up-slide").click(function () {
                    $('html,body').animate({
                        scrollTop: $("header").offset().top
                    },
                        'slow');
                });
    </script>

</body>
</html>